<nav>
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/">
                    <img src="/icons/home.svg" alt="Inicio Icon">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/agregarSuperHeroe">
                    <img src="/icons/AgregarSH.png" alt="Acerca de Icon">
                    Agregar Pais
                </a>
            </li>
            <li>
                <a href="/mostrarPaises">
                    <img src="/icons/Mostrar.png" alt="Acerca de Icon">
                    Mostrar Paises
                </a>
            </li>
            <li>
                <a href="/about">
                    <img src="/icons/info4.png" alt="Acerca de Icon">
                    Acerca de
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contacto
                    <img src="/icons/contact.svg" alt="Conctacto Icon">
                </a>
            </li>
        </ul>
    </div>
</nav>